rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /market-catalog/v1/{path=**} {
      allow read: if true;
      allow write: if false;
    }

    match /{path=**} {
      allow read, write: if false;
    }
  }
}
