<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- -PfirebaseE2e=true debug 빌드에만 적용됩니다. 실제 Activity/저장소/Worker는 동일합니다. -->
    <application
        android:networkSecurityConfig="@xml/firebase_e2e_network_security_config">
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
    </application>
</manifest>
